@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #0B2027;
    --secondary-color: #40798C;
    --accent1-color: #CFD7C7;
    --accent2-color: #F6F1D1;

    --heading-font:Roboto,serif;
    --paragraph-font:Roboto,serif;

    --nav-background-color: #00635D;
    --nav-link-color: ##08A4BD;
    --nav-hover-link-color: #446DF6;
    --nav-hover-background-color: #00635D;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

.hero {
    position: relative;
  }

.hero img{
    width: 100%;
}
  
.hero h1 {
    position: absolute;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    width: 98%;
    font-family: var(--heading-font);
}

.hero article{
    position: absolute;
    top: 30%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 90%;
    height: 30#%;
    overflow: auto;
}

.hero article p{

    margin-right: 200px;
}
.hero article img{
    float: right;
    margin-left: 20px;
    width: 300px;
}

.sociallinks a{
    text-decoration: none;
}
.sociallinks img{
    width: 30px;
    height: 30px;

}
